{% extends 'base.html.twig' %}

{% block title %} {{ 'title.registration'|trans }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="form">
    <h1> <b> {{ 'title.registration'|trans }} </b>  </h1>
    {{ form_start(form, {method: 'post', action : url('register')}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.registration'|trans }} " class="btn" />
    {{ form_end(form) }}
        <p><a href="{{ url('auth_login')}}"> {{ 'register.already-member'|trans }}</a></p>
    </div>
{% endblock %}