{% block navigation %}
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-custom" href="#"> FISHKI </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navlist %}
                <li class="active"><a href="#header"> Home <span class="sr-only"> (current) </span> </a> </li>
                <li><a href="#start">About</a></li>
                <li><a href="#footer">Contact</a></li>
                {% endblock %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% block rightnavlist %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <li><a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}"> Log out
                            </a></li>
                    {% else %}
                        <li>
                            <a href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}"> Log in</a>
                        </li>
                        <li>
                            <a href="{{ url('register')}}" class="btn btn-default navbar-btn">Sign up </a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}