{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

{% extends 'layout.html.twig' %}

{% block title %} Tag {{ id }} {% endblock %}

{% block body %}
    <h1>Tag {{ id }}</h1>
    {{ form_start(form, { method: 'post', action: url('tag_edit', {'id': tag.id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Zapisz" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}