{% extends 'panel.html.twig' %}

    {% block title %}
        {{ 'title.tags'|trans }}
    {% endblock %}


    {% block board %}
        {% block header %}
            <div id="header">
            <h1> {{ 'title.tags'|trans}} </h1>
            </div>
        {% endblock %}

        {% block article %}
            {% if paginator.data|length %}
                <div class="index-list">
                    <ul>
                    {% for row in paginator.data %}
                    <li>
                            {{ row.id }}, {{ row.name }}
                        <a href="{{ url('tag_delete', {'id': row.id }) }}"><i class="fa fa-remove"></i></a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                {% include 'default/_paginator.html.twig' with {
                paginator: paginator,
                route_name: 'tag_index_paginated',
                } %}

            {% else %}
                <div>
                    {{ 'message.no_tag_found' }}
                </div>
            {% endif %}
        {% endblock %}

    {% endblock %}

