{% extends 'panel.html.twig' %}

{% block title %}
    {{ 'title.flashcard'|trans({'%id%': id}) }}
{% endblock %}

{% block board %}
    {% block header %}
        <h1>
            {{ 'title.flashcard'|trans({'%id%': id}) }}
        </h1>
    {% endblock %}
    {% block article %}
        {% if flashcard|length %}
            <div>
            {{ flashcard.word }} => {{ flashcard.definition }}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('flashcard_edit', {'id': id }) }}"><i class="fa fa-edit"></i></a>
                <a href="{{ url('flashcard_delete', {'id': id }) }}"><i class="fa fa-remove"></i></a>
            {% endif %}
        {% else %}
            <div>
                {{ 'message.no_flashcards_found' }}
            </div>
        {% endif %}
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{url('flashcard_index')}}" title="{{ 'label.back'|trans }}">
                {{ 'label.back'|trans }} </a>
        {% else %}
        <a href="{{ url('set_view', { 'id' : flashcard.sets_id }) }}" title="{{ 'label.back'|trans }}">
            {{ 'label.back'|trans }} </a>
        {% endif %}
    {% endblock %}
{% endblock %}