{% extends 'panel.html.twig' %}

{% block title %}
        {{ 'title.admin_edit_user_data'|trans({'%id%': id}) }}
{% endblock %}

{% block board %}
    {% block header %}
        <h1>{{ 'title.admin_edit_user_data'|trans({'%id%': id}) }} </h1>
    {% endblock %}
    {% block article %}
        {{ form_start(form, { method: 'post', action: url('user_edit', {'id': id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}