{% extends 'panel.html.twig' %}

    {% block title %}
        {{ 'title.admin_user_index'|trans }}
    {% endblock %}

    {% block board %}
        {% block header %}
            <div id="header">
                <h1> {{ 'title.admin_user_index'|trans }}</h1>
            </div>
        {% endblock %}

        {% block article %}
        {% if paginator.data|length %}
            <div class="index-list">
                <ul>
            {% for row in paginator.data %}
                <li><a href="{{ url('user_view', {'id': row.id }) }}">
                        {{ row.id }}, {{ row.login }}
                    </a></li>
            {% endfor %}
                </ul>
            </div>
            {% include 'default/_paginator.html.twig' with {
            paginator: paginator,
            route_name: 'user_index_paginated',
            } %}
        {% else %}
            <div>
                {{ 'message.no_user_found'|trans }}
            </div>
        {% endif %}
        {% endblock %}
    {% endblock %}

