{% extends 'panel.html.twig' %}

{% block title %}
    {{ 'title.reset_password'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block board %}
    {% block article %}
        <div class="form">
            <h1> {{ 'title.reset_password'|trans }} </h1>
        {{ form_start(form, { method: 'post', action: url('reset_password', {'id': id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn" />
        {{ form_end(form) }}
        </div>
        <a href="{{ url('user_view', { 'id' : id }) }}" title="{{ 'label.back'|trans }}" class="back btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>  {{ 'label.back'|trans }} </a>
    {% endblock %}
{% endblock %}