{% extends 'panel.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ 'title.admin_user_view'|trans({'%id%': user.id}) }}
    {% else %}
        {{ 'title.user_view'|trans }}
    {% endif %}
{% endblock %}

{% block board %}
    {% block header %}
        <h1>
            {% if is_granted('ROLE_ADMIN') %}
                {{ 'title.admin_user_view'|trans({'%id%': user.id}) }}
            {% else %}
                {{ 'title.user_view'|trans }}
            {% endif %}
        </h1>
    {% endblock %}
    {% block article %}
           <ul>
               <li> {{ user.login }} </li>
               {% if userData|length %}
               <li> {{ userData.name }}</li>
               <li> {{ userData.surname }}</li>
               <li> {{ userData.email }}</li>
               {% endif %}
           </ul>
            <a href="{{ url('edit_data', {'id': user.id }) }}"><i class="fa fa-edit"></i></a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('user_delete', {'id': user.id }) }}"><i class="fa fa-remove"></i></a>
            <br>
            <a href="{{ url('user_edit', {'id': user.id }) }}"> </i> {{ 'action.user_edit'|trans }}</a>
        {% endif %}
        <br>
        <a href="{{ url('reset_password', {'id': user.id }) }}"><i class="fa fa-refresh"></i> {{ 'action.reset_password'|trans }}</a>
        <a href="{{ url('user_index') }}" title="{{ 'label.back'|trans }}">
            {{ 'label.back'|trans }}</a>
    {% endblock %}
{% endblock %}