
{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.add_set'|trans }}
{% endblock %}

{% block body %}
<h1> {{ 'title.add_set'|trans }} </h1>
{{ form_start(form, {method:'post', action:url('set_add')}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.add'|trans }}" class="btn btn-success" />
{{ form_end(form) }}

{% endblock %}