{% extends 'panel.html.twig' %}

{% block title %}
    {{ 'title.add_set'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block board %}
    {% block article %}
        <div class="container"></div>
        <div class="form">
            <h1> {{ 'title.add_set'|trans }} </h1>
            {{ form_start(form, {method:'post', action:url('set_add')}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.public) }}
            {{ form_row(form.tags) }}
            <input type="submit" value="{{ 'action.add'|trans }}" class="btn" />
            {{ form_end(form) }}
        </div>

        <a href="{{ url('set_index') }}" title="{{ 'label.back'|trans }}" class="back btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>  {{ 'label.back'|trans }} </a>

    {% endblock %}
{% endblock %}