{% extends 'panel.html.twig' %}

{% block title %}Delete set {% endblock %}

{% block board %}
    {% block header %}
        <h1> Delete set {{ set.id }} </h1>
    {% endblock %}

    {% block article %}
    {{ form_start(form, { method: 'post', action: url('set_delete', {'id': set.id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Delete" class="btn btn-success" />
    {{ form_end(form) }}
    <a href="{{ url('set_index') }}" title="Back" class="btn btn-default">
        <span class="fa fa-mail-reply" aria-hidden="true"></span>
        Back
    </a>
    {% endblock %}
{% endblock %}

