{% extends 'panel.html.twig' %}

    {% block title %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ 'title.admin_set_index'|trans }}
        {% else %}
            {{ 'title.set_index'|trans }}
        {% endif %}
    {% endblock %}

     {% block stylesheets %}
         {{ parent() }}
         <link href="{{ asset('css/set.css') }}" rel="stylesheet">
     {% endblock %}


    {% block board %}
        {% block header %}
            <div id="header">
                {% if is_granted('ROLE_ADMIN') %}
                     <h1> {{ 'title.admin_set_index'|trans }} </h1>
                {% else %}
                    <h1> {{ 'title.set_index'|trans }} </h1>
                {% endif %}
            {#<small>  3 collections | 14 tags </small>#}
            </div>
        {% endblock %}

        {% block article %}
            <article>
            {% if sets|length %}
                <div class="sets">
                {% for set in sets %}
                    <a href="{{ url('set_view', {'id': set.id }) }}">
                    <div class="set">
                        <small> 83 flashcards | 12-03-2017 </small>
                        <h2> {{ set.name }}  </h2>
                        {% if set.tags|length and set.tags is iterable %}
                            <div class="tag-list">
                            <ul>
                                {% for tag in set.tags %}
                                    <li>
                                        #{{ tag.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            </div>
                        {% endif %}
                    </div>
                    </a>
                        {% endfor %}
                    <a href="{{ url('set_add') }}">
                        <div id="add-set" class="set">
                            {{ 'label.add_set'|trans }}
                            <i class="fa fa-plus"> </i>
                        </div>
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}

                    {% include 'default/_paginator.html.twig' with {
                    paginator: paginator,
                    route_name: 'set_index_paginated',
                    } %}

                {% endif %}
            {% else %}
                <div>
                    {{ 'message.no_set_found' }}
                </div>
            {% endif %}
            </article>
        {% endblock %}
    {% endblock %}

