{% extends 'panel.html.twig' %}

    {% block title %}
        Your collection
    {% endblock %}


    {% block board %}
        {% block header %}
            <div id="header">
            <h1> Your Collections </h1>
            <small>  3 collections | 14 tags </small>
            </div>
        {% endblock %}

        {% block article %}
            <article>
            {% if sets|length %}
                    <ul>
                {% for set in sets %}
                    <li><a href="{{ url('set_view', {'id': set.id }) }}">
                            {{ set.id }}, {{ set.name }} </a></li>
                            {% if set.tags|length and set.tags is iterable %}
                                <ul>
                                {% for tag in set.tags %}
                                <li>
                                    #{{ tag.name }}
                                </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                {% endfor %}
                    </ul>
            {% else %}
                <div>
                    No sets found
                </div>
            {% endif %}
                <a href="{{ url('set_add') }}"> Dodaj zestaw </a>
            </article>
        {% endblock %}
    {% endblock %}

