{% extends 'panel.html.twig' %}

    {% block title %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ 'title.admin_set_index'|trans }}
        {% else %}
            {{ 'title.set_index'|trans }}
        {% endif %}
    {% endblock %}

     {% block stylesheets %}
         {{ parent() }}
         <link href="{{ asset('css/set.css') }}" rel="stylesheet">
     {% endblock %}


    {% block board %}
        {% block header %}
            <div id="header">
                <div>
                {% if is_granted('ROLE_ADMIN') %}
                     <h1> {{ 'title.admin_set_index'|trans }} </h1>
                {% else %}
                    <h1> {{ 'title.set_index'|trans }} </h1>
                {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block article %}
            <article>
            {% if results|length %}
                <div class="sets">
                {% for result in results %}
                    <a href="{{ url('set_view', {'id': result.set.id }) }}">
                    <div class="set">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h2> {{ result.set.name }}  </h2>
                                <small> {{ 'set.created-at'|trans }} {{ result.set.created_at|date("m-d-Y") }}
                                    | {{ 'set.modified-at'|trans }} {{ result.set.modified_at|date("m-d-Y") }}
                                </small>
                            </div>
                            <div class="set-menager col-lg-6 col-md-6 col-sm-6">
                                <a href="{{ url('set_edit', {'id': result.set.id }) }}"><i class="fa fa-edit"></i>
                                <span>{{ 'action.set_edit'|trans }}</span></a>
                                <a href="{{ url('set_delete', {'id': result.set.id }) }}"><i class="fa fa-remove"></i>
                               <span> {{ 'action.set_delete'|trans }}</span></a>
                            </div>
                        </div>

                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    {{ result.owner.login }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                        {% if result.set.tags|length and result.set.tags is iterable %}
                                <div class="tag-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul>
                                    {% for tag in result.set.tags %}
                                        <li>
                                            #{{ tag.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                </div>
                        {% endif %}
                        </div>
                    </div>
                    </a>
                        {% endfor %}
                    <a href="{{ url('set_add') }}">
                        <div id="add-set" class="set">
                            {{ 'label.add_set'|trans }}
                            <i class="fa fa-plus"> </i>
                        </div>
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}

                    {% include 'default/_paginator.html.twig' with {
                    paginator: paginator,
                    route_name: 'set_index_paginated',
                    } %}
                {% endif %}
            {% else %}
                <a href="{{ url('set_add') }}">
                    <div id="add-set" class="set">
                        {{ 'label.add_set'|trans }}
                        <i class="fa fa-plus"> </i>
                    </div>
                </a>
            {% endif %}
            </article>
        {% endblock %}
    {% endblock %}

