{% extends 'panel.html.twig' %}

{% block title %}
    {{ 'title.set'|trans({'%id%': id}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/set.css') }}" rel="stylesheet">
{% endblock %}

{% block board %}

    {% block header %}
        <div id="header">
        <h1>
            {{ set.name }}
        </h1>
            <div class="set-menager">
                <a href="{{ url('set_edit', {'id': set.id }) }}"><i class="fa fa-edit"></i>
                    <span> {{ 'action.set_edit'|trans }}</span></a>
                <a href="{{ url('set_delete', {'id': set.id }) }}"><i class="fa fa-remove"></i>
                    <span>{{ 'action.set_delete'|trans }}</span></a>
            </div>

            {% if set.tags|length and set.tags is iterable %}
                <div class="tag-list tag-list-view">
                    <ul>
                        {% for tag in set.tags %}
                            <li>
                                #{{ tag.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block article %}
        {% if set|length %}
            <div class="sets">
                {% if flashcards|length %}
                    <div class="row">
                        {% for flashcard in flashcards %}
                            <a href="{{ url('flashcard_view', {'id': flashcard.id }) }}">
                                <div id="flashcards-list" class="col-md-12 col-lg-12 set">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    {{ flashcard.word }}
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        {{ flashcard.definition }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('flashcard_add') }}">
                    <div id="add-flashcard" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 set">
                        {{ 'action.flashcard_add'|trans }}
                        <i class="fa fa-plus"> </i>
                    </div>
                </a>
            {% endif %}
                    </div>
            </div>
        {% else %}
            <div>
                {{ 'message.no_set_found' }}
            </div>
        {% endif %}
        <br>
        <a href="{{ url('set_index') }}" title="{{ 'label.back'|trans }}" class="back btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>  {{ 'label.back'|trans }} </a>
        {% endblock %}
{% endblock %}