{% extends 'panel.html.twig' %}

{% block title %}
    Zestaw {{set.id}}
{% endblock %}

{% block board %}

    {% block header %}
        <h1>
            Zestaw {{set.id}}
        </h1>
    {% endblock %}

    {% block article %}
        {% if set|length %}
            <div>
            {{ set.id }}, {{ set.name }}
                {% if flashcards|length %}
                    <ul>
                        {% for flashcard in flashcards %}
                            <li><a href="{{ url('flashcard_view', {'id': flashcard.id }) }}">
                                    {{ flashcard.word }} => {{ flashcard.definition }} </a> </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <br> <a href="{{ url('flashcard_add') }}">Dodaj fiszki<i class="fa fa-plus"></i> </a>
                <br>
                <a href="{{ url('set_edit', {'id': set.id }) }}"><i class="fa fa-edit"></i></a>
                <a href="{{ url('set_delete', {'id': set.id }) }}"><i class="fa fa-remove"></i></a>
            {% endif %}
        {% else %}
            <div>
                Nie znaleziono zestawu
            </div>
        {% endif %}
        <br>
        <a href="{{ url('set_index') }}" title="Powrót">
            Powrót </a>
        {% endblock %}
{% endblock %}